.con {
  /*height: max-content;*/
  /*background-color: aqua;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingBody{
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
}

.carouselBody{
  /*background-color: aquamarine;*/
}

.cardBody{
  /*background-color: brown;*/
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
}


.my-carousel-image{
  width: 400px;
  height: 300px;
  object-fit: cover;
}