:root {
    --bs-light-rgb: rgb(251, 155, 42);
    --bs-body-bg: rgb(251, 155, 42);
}

.logout {
    padding-left: 700px;
}

.nav-link {
    color: black;
}

.logo {
    display: block;
    margin: 0 auto;
}

.navBar>.bg-light {
    background-color: rgb(251, 155, 42);
}